body {
  margin: 0;
  padding: 0;
  background-image: url(./resources/BG.gif);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 50vh;
}

.welcome {
  margin-top: 250px;
  position: center;
  font-size: 45px;
  position: relative;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  padding-left: 60px;
  text-align: center;
  color: rgb(200, 200, 200);
  backdrop-filter: blur(10px);
}

.shadow-drop-center {
  animation: shadow-drop-center 1s linear both
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .55)
  }
}

.BComenzar {
  font-size: 40px;
  size: 40px;
}

.titulologin {
  font-size: 40px;
  margin-top: 20px;
}

.LoginBox {
  margin-top: 350px;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  padding-top: 5px;
  width: max-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border-spacing: 10px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}

.register {
  font-size: small;
  left: 100px;
}

.whiteBoxFP {
  margin-top: 150px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 0px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}

.whiteNavBar{
  display: flex; /* Para que los elementos internos se ajusten al contenido */
  justify-content: center; /* Para centrar el contenido horizontalmente */
  align-items: center; /* Para centrar el contenido verticalmente */
  height: auto; /* Permitirá que la altura se ajuste al contenido */
  padding: 10px; /* Añade un poco de espacio interior al AppBar */
  /* Puedes personalizar otros estilos según tus necesidades */
}
.logo {
  width: 350px;
  margin-bottom: -60px;
  margin-top: -40px;
}
.logo1 {
  width: 350px;
  margin-bottom: -60px;
  margin-top: -40px;
}
.whiteNavBar{

    margin-top: 60px;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 10px;
    height: 90px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border-spacing: 10px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
    

}
.Bienvenido {
  text-align: center; /* Center the text horizontally */
  color: black; /* Set the text color to black */
  animation: shining 1.5s infinite alternate; /* Apply the animation */
}

@keyframes shining {
  0% {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  }
  100% {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
  }
}
.whiteBoxCS {
  margin-top: 255px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 0px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}
.whiteBoxDM {
  margin-top: 200px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 30px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}
.whiteBoxCM {
  margin-top: 150px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 0px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}
.whiteBoxRC {
  margin-top: 250px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 0px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}
.whiteBoxRP {
  margin-top: 350px;
  position: fixed;
  align-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  padding-left: 15px;
  padding-top: 0px;
  width: fit-content;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
}